.main {
    padding: 8px;
    background-color: rgb(54, 54, 54);
}
.btn {
    margin: 2px;
    padding: 4px;
    color:  black;
    border-radius: 0;
}
.normal-btn { background-color: rgb(255, 203, 135); }
.poison-btn { background-color: rgba(67, 144, 67, 0.498); }
.trap-btn { background-color: rgba(189, 64, 64, 0.599); }
.exit-btn { background-color: yellow; font-size: 10px; }

.bonus-btn { background-color: #6666f27d; }

.message {
    padding: 12px;
    margin: 2px;
    font-weight: bold;
}
.message-box { border-radius: 4px;  }
.message-danger { background-color: rgba(255, 0, 0, 0.175); }
.message-succes { background-color: rgba(0, 128, 0, 0.175); }
.message-primary { background-color: rgba(0, 0, 255, 0.175); }
.message-warn { background-color: rgba(255, 252, 73, 0.385); }
